MYSQL_HOST = 'xxxx.xxxx.xxxx.xxxx'
MYSQL_USER = 'USER'
MYSQL_PASSWORD =  'MYSQL_PASSWORD'
MYSQL_DB = 'DATABASE_NAME'
MYSQL_PORT = 3306
FLASK_DEBUG='development'
SQLALCHEMY_DATABASE_URI = 'mysql+mysqlconnector://user:pass@localhost/database_name'
SQLALCHEMY_TRACK_MODIFICATIONS = "False"
SHOW_SQLALCHEMY_LOG_MESSAGES = "False"
SQLALCHEMY_ECHO = "False"